@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Saira:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #71cf6d;
}

.bodyphoto1 {
  width: 400px;
  height: 500px;
  background-image: url("https://cyberplaza.com.ua/assets/img/plaza-table-2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1400px;
  top: 500px;
  transform: rotate(-10deg);
}

.bodyphoto2 {
  width: 400px;
  height: 500px;
  background-image: url("https://images.pexels.com/photos/7988079/pexels-photo-7988079.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1400px;
  top: 750px;
  transform: rotate(10deg);
}

#navback {
  position: fixed;
  background-color: #292336;
  width: 100%;
  height: 100px;
  z-index: 2;
}

#nav {
  list-style: none;
  display: block;
  float: left;
  position: fixed;
  top: 40px;
  left: 50px;
  z-index: 3;
}

#nav li {
  display: inline;
  color: white;
  font-family: 'Urbanist', cursive;
  font-size: 23px;
}

#nav li:not(:first-of-type) {
  margin-left: 30px;
}

#head {
  background: #292336;
  width: 100%;
  height: 450px;
}

#headtitleback {
  background: #71cf6d;
  width: 350px;
  height: 30px;
  position: absolute;
  left: 443px;
  top: 175px;
  z-index: 2;
}

#headtitle {
  color: white;
  font-size: 70px;
  padding-left: 450px;
  padding-top: 130px;
  font-family: 'Urbanist', cursive;
  font-weight: bold;
  position: absolute;
  z-index: 2;
}

#headintro {
  color: white;
  font-size: 20px;
  font-family: 'Urbanist', cursive;
  padding-top: 220px;
  padding-left: 443px;
  padding-right: 800px;
  position: relative;
  z-index: 2;
}

#headimage {
  width: 300px;
  height: 300px;
  background-image: url("https://assets.kpmg.com/is/image/kpmgcloud/ie-gaming-gains:cq5dam-web-656-656?wid=328&hei=328");
  margin-top: -215px;
  margin-left: 1200px;
  opacity: 0.5;
  position: relative;
  z-index: 2;
}

.bodytitle {
  color: black;
  text-align: center;
  font-family: "Urbanist", cursive;
  font-size: 70px;
  font-weight: bold;
  padding-top: 30px;
  position: relative;
  z-index: 1;
}

.bodytitleback {
  background-color: #8aebf2;
  width: 270px;
  height: 40px;
  position: absolute;
  left: 820px;
  top: 520px;
  z-index: 0;
}

.bodytext {
  font-family: "Urbanist", cursive;
  font-size: 27px;
  text-align: left;
  margin-left: 100px;
  margin-right: 550px;
  margin-top: 15px;
}

.bodytitleback2 {
  background-color: #8aebf2;
  width: 900px;
  height: 40px;
  position: absolute;
  left: 507px;
  top: 1187px;
  z-index: 0;
}

.bodytext2 {
  font-family: "Urbanist", cursive;
  font-size: 30px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 15px;
}

.verline {
  width: 3px;
  height: 500px;
  background-color: black;
  margin-top: 15px;
  margin-left: 50%;
}

.subtitle {
  font-family: "Urbanist", cursive;
  font-size: 50px;
  font-weight: bold;
  padding-left: 350px;
  position: absolute;
  top: 1320px;
}

.bodylist {
  position: absolute;
  top: 1400px;
  left: 70px;
}

.bodylist li{
  font-family: "Urbanist", cursive;
  font-size: 30px;
}

.workphoto {
  width: 400px;
  height: 500px;
  background-image: url("https://cdn.mos.cms.futurecdn.net/X7c8TkWnKvMuHefruMWvkT-1200-80.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 450px;
  top: 1400px;
}

.gamephoto {
  width: 400px;
  height: 500px;
  background-image: url("https://c1.neweggimages.com/productimage/nb640/A8X5S22062104CL64D9.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 1400px;
  top: 1400px;
}

#footer {
  background: #292336;
  width: 100%;
  height: 350px;
}
